@font-face {
  font-family: 'Odachi';
  src: local('Odachi'),
       url('../public/Assets/fonts/Odachi/Odachi.ttf') format('truetype'), /* Super Modern Browsers */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.swiper {
  /* margin: 100px auto; */
  width: 500px;
  margin-left: 10px !important;
  /* height: 250px;  */
  /* background-color: #000; */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #000;
}
.swiper-pagination > span {
  background-color: aliceblue;
}

.scroll-up {
  position: absolute;
  left: 42%;
  z-index: 99;
  cursor: pointer;
}

.teamWrapper1 {
  /* // height: 20vh; */
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 18px;
  margin-right: 95px;
}

.swiper-slide { 
  width: 500px !important;
}